
.rodape{
    display: flex;
    justify-items: flex-start;
    align-items: center;

    background-color: var(--clr-bg-normal);

    padding: 0 2.6rem;
    height: 8rem;
    width: 100%;

    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}