
.mensagem--message, .mensagem--status, .mensagem--private_message{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 1.4rem;

    margin-bottom: .4rem;
    padding: 1.3rem .8rem;

    width: 100%;
}

.mensagem--message{
    background-color: var(--clr-bg-msg-normal);
}

.mensagem--status{
    background-color: var(--clr-bg-msg-status);
}

.mensagem--private_message{
    background-color: var(--clr-bg-msg-reservado);
}